<!DOCTYPE html>
<html>
    <head>
        <title>TechCare</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="code icon"></i>BlogSite</div>
                <a class="item" href="/">Home</a>
                <a class="item" href="/blogs/new">New Post</a>
                <div class="right menu">
                    <% if(!currentUser){ %>
                        <a class="item" href="/login">Login</a>
                        <a class="item" href="/register">SignUp</a>
                   <% } else{ %>
                    <a class="item" href="#"><%=currentUser%></a>
                    <a class="item" href="/logout">Logout</a>
                  <%  } %>

                    
                </div>
            </div>
        </div>
        <div id="mainMargin">
            <div class="ui container">
                <% if(error && error.length > 0){ %>
                    <div class="ui red message">
                        <%= error %>
                    </div>
                <% } %>
                <% if(success && success.length > 0){ %>
                    <div class="ui olive message">
                        <%= success %>
                    </div>
                <% } %>
            </div>