<!doctype html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title>techcare.com
</title>
<link rel="stylesheet" type="text/css" href="./stylesheets/home.css">
<style>
</style></head>
<body>
<div class="nav">
<img src="./images/logo.jpeg" alt=""/>
<a class="hactive" href="home.html"><b>Home</b></a>
<a href="/register" ><b>Register</b></a>
<a href="/login"><b>Login</b></a>
<a href="/About"><b>About Us</b></a>
</div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <img src="./images/img1.jpg" alt="img" style="width:100%;height:400px;">
      </div>
      <div class="item">
        <img src="./images/img2.jpg" alt="img" style="width:100%;height:400px;">
      </div>
      <div class="item">
        <img src="./images/img3.jpg" alt="img" style="width:100%;height:400px;">
      </div>
      <div class="item">
        <img src="./images/img4.jpeg" alt="img" style="width:100%;height:400px;">
      </div>
      <div class="item">
        <img src="./images/img5.jpg" alt="img" style="width:100%;height:400px;">
      </div>
      <div class="item">
        <img src="./images/img6.jpg" alt="img" style="width:100%;height:400px;">
      </div>
  </div>
</div>
<div class="container">
	    <h1><b>Welcome to techCare.com</b></h1>
            <p>The world today is all about "<b>Technology</b>". People around us are all much fascinated 
            about it,</br>that it is quite a tough job to find a person without a cellphone. Today, people spend<br>
            most of their time on phone or computer as technology has made lives easier to survive by <br>
            making everything available in just a click. But even in this modern era of growing <br>
            technologies, there are some people like our parents, granparents, uncles and aunts</br> 
            and even people living in rural areas, who are not that much connected to these</br>
             technologies, feel that they are lacking behind and cannot match up to the modern society</br>
           people. So, our site is an initiative to ensure that these people also keep themselves</br> 
            updated and get benefitted from all the facilities from buying groceries to other stuffs,</br>
            paying at small stores to large scale transactions in just a click.<br>
            Excited about getting started with us and get your way with technologies?</br> 
            <b>Join Us by logging in, we are always more than happy to help you.</b> </p>
</div>
<div class="footer">
                <img src="./images/facebook.png" alt=""/>
                <img src="./images/twitter.png" alt=""/>
                <img src="./images/insta.jpg" alt=""/>
                <p>Copyright © 2021 Techcare. All rights reserved.</p>
		<p>Mail Us: techcare@gmail.com</p>
               </div>
</body>
</html>



<!-- <!doctype html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title>techcare.com
</title>
<link rel="stylesheet" type="text/css" href="./stylesheets/home.css">
<style>
</style></head>
<body>
<!-- <div class="nav">
<img src="./images/logo.jpeg" alt=""/>
<a class="hactive" href="home.html"><b>Home</b></a>
<a href="/register" ><b>Register</b></a>
<a href="/login"><b>Login</b></a>
<a href="/About"><b>About Us</b></a>
</div> -->
<!-- <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <img src="./images/fakediscount.jpg" alt="img" style="width:100%;height:400px;">
      </div>
      <div class="item">
        <img src="./images/freewifijpg.jpg" alt="img" style="width:100%;height:400px;">
      </div>
      <div class="item">
        <img src="./images/otpverification.jpg" alt="img" style="width:100%;height:400px;">
      </div>
      <div class="item">
        <img src="./images/passwordstrength.png" alt="img" style="width:100%;height:400px;">
      </div>
      <div class="item">
        <img src="./images/phising.jpg" alt="img" style="width:100%;height:400px;">
      </div>
      <div class="item">
        <img src="./images/safeonline.png" alt="img" style="width:100%;height:400px;">
      </div>
  </div>
</div>
<div class="container">
      <h1><b>Online Care -techCare.com</b></h1>
      <br>
      <h4>

        OTP frauds
      </h4>
      <p style="text-align:left;">
          
          only fraudsters ask for such information by asking for <br>renewing debit or card cards, updating KYC, or offering
          <br> reward points. Thus, it is important to remember that 
          <br>no bank, government, or any genuine private authority 
          <br>asks for OTP, UPI ID/Pin, login Password.  
        
    </p>
    <h4 style="text-align:right"> Password strength</h4>
    <p style="text-align:right">
      
      While creating any digital account,
      <br> it is essential to focus on the complexity
       of having 
      <br>a strong password. Always use
       special characters such as $@#! %&,
      <br> numerical, small, and capital 
      <br>letters together to ensure 
      the password is strong. If 
      <br> you’re owning multiple digital 
      <br>accounts, it is significant to keep 
      the passwords of each platform different.
    </p>

    <h4>Phising</h4>
    <p style="text-align:left">
      
      he best way to check the authenticity <br>
       of the email is to find out the familiarity
       <br> of the sender, look for any grammatical <br>
        or spelling error that could make an email 
        <br>address suspicious. For instance, if 
        <br>you receive an email from any social 
        <br>media platform asking to reset your
        <br> password, check the email’s domain
        <br> carefully. Taken the desired action
        <br> only if it belongsto an authentic 
        <br>platform such as @facebook.com, @twitter.com, etc. 
    </p>

    <h4 style="text-align:right">Beware of fake discounts and offers</h4>
    <p style="text-align:right">
      
      he best way to check the authenticity <br>
       of the email is to find out the familiarity
       <br> of the sender, look for any grammatical <br>
        or spelling error that could make an email 
        <br>address suspicious. For instance, if 
        <br>you receive an email from any social 
        <br>media platform asking to reset your
        <br> password, check the email’s domain
        <br> carefully. Taken the desired action
        <br> only if it belongsto an authentic 
        <br>platform such as @facebook.com, @twitter.com, etc. 
    </p>

    

    <h4 style="text-align:left">Be cautious with public Wi-Fi connection</h4>
    <p style="text-align:left">
      
      he best way to check the authenticity <br>
       of the email is to find out the familiarity
       <br> of the sender, look for any grammatical <br>
        or spelling error that could make an email 
        <br>address suspicious. For instance, if 
        <br>you receive an email from any social 
        <br>media platform asking to reset your
        <br> password, check the email’s domain
        <br> carefully. Taken the desired action
        <br> only if it belongsto an authentic 
        <br>platform such as @facebook.com, @twitter.com, etc. 
    </p>

    <h4 style="text-align:right">Be smart with online information sharing</h4>
    <p style="text-align:right">
      
      he best way to check the authenticity <br>
       of the email is to find out the familiarity
       <br> of the sender, look for any grammatical <br>
        or spelling error that could make an email 
        <br>address suspicious. For instance, if 
        <br>you receive an email from any social 
        <br>media platform asking to reset your
        <br> password, check the email’s domain
        <br> carefully. Taken the desired action
        <br> only if it belongsto an authentic 
        <br>platform such as @facebook.com, @twitter.com, etc. 
    </p>

    
      
      
</div>
<!-- <div class="footer">
                <img src="./images/facebook.png" alt=""/>
                <img src="./images/twitter.png" alt=""/>
                <img src="./images/insta.jpg" alt=""/>
                <p>Copyright © 2021 Techcare. All rights reserved.</p>
		<p>Mail Us: techcare@gmail.com</p>
               </div> -->
</body>
</html> --> -->
