body{
  margin:0;
background-color:rgb(6,6,34,0.3);
}
.nav{
justify-content:center;
overflow:hidden;
background-color: rgb(6,6,34);}

.nav a.hactive{
//background-color:gray;
color:White;
margin-left:650px;}

.nav img{float:left;padding:0;width:15%;
height:110px;}

.nav a{
float: left;
color:white;
text-align: center;
font-family:sans-serif;
padding: 40px 20px 40px 20px;
text-decoration:none;
font-size:18px;}

.nav a:hover{
background-color: rgba(127, 186, 224, 0.8);
color:black;
}
.nav a:active{
background-color:  white;
color:black;}

.dropdown {
 float: left;
 overflow: hidden;
}

.dropdown .dropbtn {//font-size: 16px;  
  border: none;
  outline: none;
  color: white;
font-family:sans-serif;
font-size:18px;
font-weight:bold;
padding: 14px 16px;
background-color: inherit;
margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
 background: rgb(0,0,0,0.5);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
color:white;
}
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
font-weight:bold;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background: rgb(0,255,255,0.8);

}

.dropdown:hover .dropdown-content {
display: block;
}
.dropdown:hover{
background-color: rgb(0,255,255,0.8);
color: rgb(0,0,0);}
 /*Home styling*/

.container{
  padding:3%;
width:100%;
font-family:sans-serif;
justify-content:center;
//background-color:rgba(6,6,34,0.5);
margin-top:1%;
}
.container h1{
  font-family:cursive;
  font-weight: bolder;
  color:white;
  text-align:center;
}
.container p{
  font-size:150%;
  color: white;
  text-align:center;
}
/*Footer*/
.footer{
  margin-bottom: 0;
width:100%;
  background-color: rgb(6,6,34);
  color: rgb(97, 94, 96);
  font-size:15px;
  padding:1.5%;
  display:flex;justify-content:center;
}
.footer p{margin-left:10%;margin-right:5%;}
.footer img{
    width:50px;
    margin-left:1%;
    margin-right:1%;
    height:40px;
}