<!doctype html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title>techcare.com
</title>
<link rel="stylesheet" type="text/css" href="home.css">
<style>
</style></head>
<body>
<div class="nav">
<img src="./images/logo.jpeg" alt=""/>
<a class="hactive" href="home.html"><b>Home</b></a>
<a href="./Register" ><b>Register</b></a>
<a href="./Login"><b>Login</b></a>
<a href="/About"><b>About Us</b></a>
</div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <img src="./images/img1.jpg" alt="img" style="width:100%;height:400px;">
      </div>
      <div class="item">
        <img src="./images/img2.jpg" alt="img" style="width:100%;height:400px;">
      </div>
      <div class="item">
        <img src="./images/img3.jpg" alt="img" style="width:100%;height:400px;">
      </div>
      <div class="item">
        <img src="./images/img4.jpeg" alt="img" style="width:100%;height:400px;">
      </div>
      <div class="item">
        <img src="./images/img5.jpg" alt="img" style="width:100%;height:400px;">
      </div>
      <div class="item">
        <img src="./images/img6.jpg" alt="img" style="width:100%;height:400px;">
      </div>
  </div>
</div>
<div class="container">
	    <h1><b>Welcome to techCare.com</b></h1>
            <p>The world today is all about "<b>Technology</b>". People around us are all much fascinated 
            about it,</br>that it is quite a tough job to find a person without a cellphone. Today, people spend<br>
            most of their time on phone or computer as technology has made lives easier to survive by <br>
            making everything available in just a click. But even in this modern era of growing <br>
            technologies, there are some people like our parents, granparents, uncles and aunts</br> 
            and even people living in rural areas, who are not that much connected to these</br>
             technologies, feel that they are lacking behind and cannot match up to the modern society</br>
           people. So, our site is an initiative to ensure that these people also keep themselves</br> 
            updated and get benefitted from all the facilities from buying groceries to other stuffs,</br>
            paying at small stores to large scale transactions in just a click.<br>
            Excited about getting started with us and get your way with technologies?</br> 
            <b>Join Us by logging in, we are always more than happy to help you.</b> </p>
</div>
<div class="footer">
                <img src="./images/facebook.png" alt=""/>
                <img src="./images/twitter.png" alt=""/>
                <img src="./images/insta.jpg" alt=""/>
                <p>Copyright © 2021 Techcare. All rights reserved.</p>
		<p>Mail Us: techcare@gmail.com</p>
               </div>
</body>
</html>
